<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wangzs.gaodemap">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme"-->
        <!--tools:ignore="GoogleAppIndexingWarning">-->
        <!--<activity android:name=".MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    <!--</application>-->
    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e51b8faea29d5551d9fdbadf4a943649" />
        <service android:name="com.amap.api.location.APSService" />
        <activity
            android:name=".activity.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.BasicNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomZoomInIntersectionViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomDriveWayViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.HudDisplayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.IntelligentBroadcastActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RoutePlanningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.GPSNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomTrafficBarViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomTrafficProgressBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.SimpleNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.GetNaviStepsAndLinksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.NorthModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.OverviewModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.BasicWalkNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.UseExtraGpsDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomCarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomRouteTextureInAMapNaviViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomDirectionViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomTrafficButtonViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomNextTurnTipViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomZoomButtonViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CustomOverviewButtonViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RestRouteShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RouteNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.SingleRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.WalkRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.RideRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.EmulatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.custom.CustomUiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.DriverListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.TrunkRouteCalculateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.SetTrunkParamsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.SwitchMasterRoadNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.IflyVoiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.custom.AllCustomDriveWayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/navi_custom_route_way" />

        <activity
            android:name=".activity.custom.AllCustomTrafficBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/navi_custom_traffic_bar"/>
        <activity
            android:name=".activity.custom.AllCustomCrossingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/navi_custom_crossing"/>
        <activity
            android:name=".activity.custom.AllCustomCarRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/navi_custom_car_route" />
        <activity
            android:name=".activity.custom.AllCustomNextRoadInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/navi_custom_road_distance_nexttip" />

        <activity
            android:name=".activity.custom.AllCustomCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/navi_custom_camera" />

        <activity
            android:name=".activity.custom.AllCustomNaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/navi_custom_navi" />

        <activity android:name=".activity.search.SearchPoiActivity" />
    </application>
</manifest>